<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

    <a href= "{% url "index" %}">Home</a>|
    <a href= "{% url "sobre" %}">Sobre</a>|
    <a href= "{% url "contato" %}">Contato</a>|
    <a href= "{% url "ajuda" %}">Ajuda</a>


    <h1>Sobre o Sistema</h1>

    </body>
</html>